<div class="banner" style="background-image: linear-gradient(to bottom, rgba(254,255,255,0.3) 0%,rgba(221,241,249,0.5) 35%,rgba(160,216,239,1) 100%), url('https://images.unsplash.com/photo-1513614825922-8fdb7f6ee617?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91d63a4bfba36d4c4267d053190289ed&auto=format&fit=crop&w=1443&q=80');">
  <div class="banner-content">
    <h1 id="banner-typed-text">Tasty Cocktails</h1>
    <p>List your delicious recipes</p>
    <%= link_to new_cocktail_path, class:"btn btn-medium btn-lg" do%>
      Add a new one!
      <% end %>
  </div>
</div>
